body{
    background-image: url(../images/floral.jpg);
    color: black;
    font-family: "times-new-roman", "sans-serif", "comic-sans", "arial"
}
.head{
    /*padding-left: 7%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 190px;
}

.nav{
    padding-left: 10%;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 190px;
}

#bg{
    background-color: pink;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
article{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    /*display: block;*/
}

.center{
    text-align: center;
}
.large{
    font-size: xx-large;
    text-align: center;
}
.title{
    font-size: xxx-large;
    text-align: center;
    color: darkorange;
}
.aboutuslist{
    text-align: left;
    margin-left: 25%;
    /*margin-right: auto;*/
}
.img{ /*Mainly used for the game thumbnails on index.html*/
    /*padding-left: 25%;*/
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 500px;
    /*float: right*/
}
.img2{ /*Mainly used for the profile pictures on aboutus.html*/
    padding-left: 13%;
    padding-right: 10px;
}
.img3{ /*Used for Press Kits button on index.html*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.img4{ /*Used for pictures on the Besting the Battleruler REMAKE & The Ruby Pendant pages*/
    padding-left: 10px;
    padding-right: 10px;
}
.img5{ /*Used for pictures on the Scholarship Struggle page*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
}
.img6{ /*Used for pictures on the Other Miscellaneous Projects page*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 10px;
}
footer{
    text-align: center;
}

table.form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
}

td.right{
    text-align: right;
}

table.form2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightskyblue;
}
hr{
    height: 10px;
    background-color: darkblue;
}

.audiocenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Make new "a" tag to edit links*/